.row.collapse article.row.landscape {
	margin-left: 0.75rem }

.landscape .tabs-content {
	height: 100% }
	.landscape .tabs-content > .content {
		padding-left: 0;
		padding-right: 0 }

.landscape .tabbed-content footer {
	bottom: 0.625rem }

.tabbed-content ul[data-photos] figure {
	margin-top: auto }

.tabbed-content.active {
  padding: 0.25rem 0 0.25rem 0.75rem }
	.tabbed-content aside {
		right: -1rem;
    width: 21.25rem }
		.tabbed-content aside h3 {
			margin-top: 1.125rem }
			.tabbed-content aside h3:first-child {
				margin-top: -1px }
		.tabbed-content aside p {
			margin-top: 1.4375rem;
			line-height: 1.4 }
body:not(.bracketted) .tabbed-content aside + footer {
	display: none }

	.tabbed-content figure.column,
	.tabbed-content figure.columns {
		width: 22.0625rem;
	  margin-top: auto;
	  margin-left: 0;
	  padding: 0 }
	.tabbed-content h6 {
		margin-bottom: 0.625rem }

	[data-tabbed*="patient"] [data-photo] {
		width: 20.125rem;
    height: 14rem }
		[data-tabbed*="patient"] [data-photo] img {
			height: inherit }


	.tabbed-content:nth-of-type(n+2) > h3 {
		margin-bottom: 0.25rem }
	.tabbed-content:nth-of-type(n+2) [data-photo] img {
		height: 15.875rem;
    width: 100% }
  .tabbed-content:nth-of-type(n+2) figcaption {
    margin-top: 0.6875rem }

#hypothetical {
  position: absolute;
  left: 0;
  bottom: 0.25rem;
  margin-left: -0.6875rem }

.small-block-grid-3 > li {
	padding: 0 0.675rem 0.875rem }

a.th {
	color: inherit }
	a.th h3 {
		margin-top: 0.75rem;
    margin-bottom: 0.125rem }
	a.th p {
		font-weight: 500 }

button.tabbed,
.button.tabbed {
	min-width: 5rem }

.landscape .panel.callout[data-bg] {
	height: 6.875rem;
	margin-left: -0.625rem;
	margin-right: -0.625rem;
	margin-bottom: 0.625rem }

body.bracketted .bracket-overlay{
	background-image:url("../img/brackets.png");
	background-size:447px 100px;
	width:447px;
	height:100px;
	position:absolute;
	z-index:1000;
    top: 540px;
    left: 0px;
}

[data-photos] {
	max-width: initial !important;
  margin-left: -2.125rem;
  margin-right: -1.3125rem }
	[data-photo] {
		max-height: 11.125rem;
		background-size: cover;
		background-position: center }
		[data-photo] img {
			opacity: 0 }

/*Animation*/
[data-photos] {
	opacity: 1 !important;
	transition: none !important;
	-webkit-transition: none !important }
[data-photos] li {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 500ms;
	transition-easing: ease-in-out;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
	-webkit-transition-easing: ease-in-out }
	body.animate ul[data-photos] li {
		/*max-height: 15.3125rem;*/
		opacity: 1 }
		body.animate ul[data-photos] li:nth-of-type(2),
		body.animate ul[data-photos] li:nth-of-type(4) {
			transition-delay: 50ms;
			-webkit-transition-delay: 50ms }
		body.animate ul[data-photos] li:nth-of-type(3),
		body.animate ul[data-photos] li:nth-of-type(5) {
			transition-delay: 75ms;
			-webkit-transition-delay: 75ms }
		body.animate ul[data-photos] li:last-of-type {
			transition-delay: 85ms;
			-webkit-transition-delay: 85ms }

.panel.callout {
	margin-bottom: 0 }